# Gold Price Data Analysis

### Adding the imports

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import plotly.express as px

### Creating the DataFrame

In [3]:
df = pd.read_csv("gold.csv")

### Reading the data

In [4]:
df.head()

                  time     open    high      low    close  rsi14    sma14
0  2010-01-03 18:00:00  1098.45  1100.0  1098.05  1099.95  81.98  1096.38
1  2010-01-03 18:05:00  1100.00  1100.3  1099.45  1099.75  79.17  1096.72
2  2010-01-03 18:10:00  1099.70  1100.1  1099.30  1099.45  75.02  1097.03
3  2010-01-03 18:15:00  1099.50  1099.6  1098.50  1099.45  75.02  1097.30
4  2010-01-03 18:20:00  1099.40  1099.6  1098.90  1098.90  67.50  1097.50

In [5]:
df.tail()

,time,open,high,low,close,rsi14,sma14
985999,2023-12-29 16:35:00,2063.07,2063.24,2062.60,2062.96,39.44,2063.48
986000,2023-12-29 16:40:00,2062.95,2063.09,2062.52,2062.61,37.12,2063.27
986001,2023-12-29 16:45:00,2062.60,2062.83,2062.34,2062.56,36.79,2063.06
986002,2023-12-29 16:50:00,2062.56,2063.20,2062.51,2062.54,36.65,2062.95
986003,2023-12-29 16:55:00,2062.52,2063.00,2062.37,2062.73,39.05,2062.90

### Exploring the data